.reactNote {
  background-color: rgb(248, 234, 234);
  margin: 2rem 15%;
  padding: 2rem;
  border: 1px solid silver;
  box-shadow: 1px 1px 5px silver;
  h1{
    text-align: center;
  }
  h2{
      font-size: 20px;
      font-weight: 500;
  }
}
